.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
Leetcode/Arrays/.vscode/settings.json
Templates/.idea/.gitignore
Templates/.idea/Templates.iml
Templates/.idea/misc.xml
Templates/.idea/modules.xml
Templates/.idea/vcs.xml
Misc./Google_KickStart_H_2020/.cph/.Friends.py_4d1deebe7f07d6c32f8f050256f4bbc7.prob
Misc./Google_KickStart_H_2020/.cph/.Retype.cpp_5900c94d0f5e36f1ccb6506d48de7cc0.prob
Misc./Google_KickStart_H_2020/.cph/.Rugby.cpp_f2d2437045d2245b2e4471e00637abb7.prob
Misc./Google_KickStart_H_2020/.cph/.Rugby.py_e099efa0c9279c742f013e5573c2b248.prob
AtCoder/AtCoder_BC_183_2020/.cph
Leetcode/Practice/.vscode
Leetcode/Practice/.vscode/settings.json
Leetcode/Practice/.vscode/settings.json
Codeforces/Codeforces_Virtual_569/.cph
Codeforces/Practice/.cph
.pref
Misc./.cph
Codeforces/Codeforces_722_2021/.vscode/settings.json

Misc./Google_KickStart_2021/Google_KickStart_2021_D/.vscode/settings.json

Codeforces/Codeforces_734_2021/.vscode/

AtCoder/atcoder/all

AtCoder/atcoder/convolution

AtCoder/atcoder/convolution.hpp

AtCoder/atcoder/dsu

AtCoder/atcoder/dsu.hpp

AtCoder/atcoder/fenwicktree

AtCoder/atcoder/fenwicktree.hpp

AtCoder/atcoder/internal_bit

AtCoder/atcoder/internal_bit.hpp

AtCoder/atcoder/internal_math

AtCoder/atcoder/internal_math.hpp

AtCoder/atcoder/internal_queue

AtCoder/atcoder/internal_queue.hpp

AtCoder/atcoder/internal_scc

AtCoder/atcoder/internal_scc.hpp

AtCoder/atcoder/internal_type_traits

AtCoder/atcoder/internal_type_traits.hpp

AtCoder/atcoder/lazysegtree

AtCoder/atcoder/lazysegtree.hpp

AtCoder/atcoder/LICENSE

AtCoder/atcoder/math

AtCoder/atcoder/math.hpp

AtCoder/atcoder/maxflow

AtCoder/atcoder/maxflow.hpp

AtCoder/atcoder/mincostflow

AtCoder/atcoder/mincostflow.hpp

AtCoder/atcoder/modint

AtCoder/atcoder/modint.hpp

AtCoder/atcoder/scc

AtCoder/atcoder/scc.hpp

AtCoder/atcoder/segtree

AtCoder/atcoder/segtree.hpp

AtCoder/atcoder/string

AtCoder/atcoder/string.hpp

AtCoder/atcoder/twosat

AtCoder/atcoder/twosat.hpp

Codechef/2021/Codechef_AUG_CookOff_2021/.vscode/

Codechef/2021/Codechef_SEP_CookOff_2021/.vscode/

Codechef/2021/Codechef_Starters_12/.vscode/

*.json
