.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
Leetcode/Arrays/.vscode/settings.json
Templates/.idea/.gitignore
Templates/.idea/Templates.iml
Templates/.idea/misc.xml
Templates/.idea/modules.xml
Templates/.idea/vcs.xml
Misc./Google_KickStart_H_2020/.cph/.Friends.py_4d1deebe7f07d6c32f8f050256f4bbc7.prob
Misc./Google_KickStart_H_2020/.cph/.Retype.cpp_5900c94d0f5e36f1ccb6506d48de7cc0.prob
Misc./Google_KickStart_H_2020/.cph/.Rugby.cpp_f2d2437045d2245b2e4471e00637abb7.prob
Misc./Google_KickStart_H_2020/.cph/.Rugby.py_e099efa0c9279c742f013e5573c2b248.prob
AtCoder/AtCoder_BC_183_2020/.cph
Leetcode/Practice/.vscode
Leetcode/Practice/.vscode/settings.json
Leetcode/Practice/.vscode/settings.json
Codeforces/Codeforces_Virtual_569/.cph
Codeforces/Practice/.cph
.pref
Misc./.cph